:root{
    --mainColor: #003a63;
    --secondaryColor: #002845;
    --borderColor: #164D56;
    --mainText: #fff;
    --secondaryText: #eeeeee;
    --themeDotBorder: #fff;
    --previewBg: rgb(25, 39, 52, 0.8);
    --previewShadow: #111921;
    --buttonColor: #0e8fed;
}